{% extends "admin/base.html" %}
{% load static %}

{# Personalizamos el Título de la pestaña #}
{% block title %}Admin | Sleep Recovery{% endblock %}

{# Personalizamos el Título del Header #}
{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'admin/img/icon-clock.svg' %}" alt="" style="height: 24px; margin-right: 10px; vertical-align: text-bottom;">
        Administración Sleep Recovery
    </a>
</h1>
{% endblock %}

{# Aquí inyectamos nuestro CSS personalizado #}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'admin/custom_admin.css' %}">
{% endblock %}