# Archivos del entorno virtual
venv/
.env

# Archivos de Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/
staticfiles/   # 👈 si usas collectstatic, esta carpeta no se sube

# Configuración / IDE
.DS_Store
.vscode/
.idea/

# Archivos de test / cobertura
.coverage
*.cover
*.py,cover
htmlcov/
