# Entorno virtual
venv/

# Archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Base de datos local (opcional)
db.sqlite3

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

