{% extends 'users/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Iniciar Sesión</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-success">Acceder</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <p>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}